<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Nuevo Curso</mat-card-title>
    <form
      [formGroup]="cursoForm"
      autocomplete="on"
      novalidate
      (ngSubmit)="createCurso(cursoForm.value)"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
      method="POST"
    >
    <mat-card-content>
      <mat-checkbox [checked]="checked" (change)="onChange($event)"
        >Activo</mat-checkbox
      >
      <br />
      <mat-hint align="end" class="letra-aclaracion">{{ aviso }}</mat-hint>

      </mat-card-content>

      <mat-form-field class="selector">
        <mat-label>Profesor</mat-label>
        <mat-select >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let curso of losCursos" [value]="curso.profesor">
            {{curso.profesor}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="cursoForm.hasError('required')">Escoja un profesor</mat-error>
        <mat-hint>{{cursoForm.value?.sound}}</mat-hint>
      </mat-form-field>

      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!cursoForm.valid">
          Create
        </button>
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
